{% load static %}

<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8" />
        <title>
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'home/css/style.css' %}">

    </head>

    <body class="{% block body_class %}{% endblock %}">
        <main class="container">


          <img class="background" src="https://img00.deviantart.net/6d10/i/2015/115/b/2/delver_of_squeakrets_by_alradeck-d8r1lz7.jpg" id="bg" alt="background"/>
          <!-- <img class="background" src="https://img00.deviantart.net/8e77/i/2015/143/9/e/tasipurr_the_golden_paw_by_alradeck-d8ufbfx.jpg" id="bg" alt="background"/>
          <img class="background" src="https://img00.deviantart.net/bce0/i/2015/205/5/b/deathrite_salmon_by_alradeck-d92mqeo.jpg" id="bg" alt="background"/> -->

          <!-- <img class="background" src="{% static "home/img/bg_01.jpg" %}" id="bg" alt="background"/> -->

        {% block content %}
        {% endblock %}

    </body>

    {# Global javascript #}
    <script type="text/javascript" src="{% static 'home/js/backgroundTransition.js' %}"></script>
    <script type="text/javascript" src="{% static 'home/js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'home/js/jquery.flip.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'home/js/drawacard.js' %}"></script>

</html>
