{% extends "home/base.html" %}

{% load static widget_tweaks %}

{% block body_class %}card-new{% endblock %}

{% block content %}

<div class="flexbox">

  <!-- <div class="card--button show-english">
    <span class="text--white text--large">Show Image</span>
  </div> -->

  <div class="card--container view--cover">
    <div class="card--container__wrapper">
      <p class="card--container__text text--white">

        <form method="POST" class="card-form">
          {% csrf_token %}
            <span class="help-text font--mtgx text--white">Language</span>
            {{ form.language | add_class:'custom-form-select' }}<br>
            <span class="help-text font--mtgx text--white">Keyword<br/>
            <span class="help-text-small">(Optional, in English or chosen language)</span></span>
            {{ form.keyword | add_class:'custom-form-field' | attr:"placeholder:"}}<br>
            <button type="submit" class="save btn btn-default text--white text--large font--beleren">Show Text</button>
        </form>

        <br>
      </p>
    </div>
  </div>

  <!-- <div class="card--button draw-again">
    <span class="text--white text--large">Draw again</span>
  </div>
   -->
</div>


{% endblock %}
