
html, body, .backgroundTransition, .backgroundTransition .image-top, .backgroundTransition .image-bottom {
  height: 100%;
  width: 100%;
}

body { margin: 0; }

body .backgroundTransition {
  position: relative;
  overflow: hidden;
  background-size: cover;
}

body .backgroundTransition .image-bottom, body .backgroundTransition .image-top {
  position: absolute;
  left: 0;
  top: 0;
  background-size: cover;
}

body .backgroundTransition .image-bottom { z-index: -2; }

body .backgroundTransition .image-top {
  z-index: -1;
  display: none;
}

#image-download { display: none; }




/* general layout */
main, body, html {
  text-decoration:none;
  margin:0;
  padding:0;
  width:100%;
  height: 100%;
}

body {
  /* margin-top: 12%; */
  font-family: "MPlantin";
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-name, .card-type{
  display:block;
	margin:0;
	padding-bottom:12px;
}

.card-share{
  display:block;
}
.card-share:hover{
  color:black;
}
/* general stylying */
a, a:visited, a:focus, a:hover {
  text-decoration: none;
  color:white;
}

a:hover {
  /* color:grey; */
  /* text-shadow: #ddd 1px 0 20px; */
}

ul, li {
  list-style: none;
}

/* .font--mplantin{
  font-family: "MPlantin";
} */
.font--beleren{
  font-family: "beleren";
}

.font--mtgx{
  font-family: "mtgx";
}

@font-face {
  font-family: "mtgx";
  src: url("fonts/MTGX.ttf") format("truetype");
}

/* @font-face {
  font-family: "MPlantin";
  src: url('fonts/MPlantin.ttf') format("truetype");
} */

@font-face {
  font-family: "beleren";
  src: url('fonts/beleren.ttf') format("truetype");
}




/* background image */

.background {
  position: fixed;
  top: 0;
  left: 0;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;

  z-index:-9999;
}

.text--black, .text--black:hover, .text--black:focus, .text--black:visited {
  color:black;
}
.text--white, .text--white:hover, .text--white:focus, .text--white:visited {
  color:white;
}

.text--large{
  font-size: 30px;
  letter-spacing: 0.05rem;
}

.help-text{
  margin:11px 0px;
  display: block;
  font-size: 20px;
}
.help-text-small{
  color: grey;
  font-size: 14px;
  font-family: arial;
}
/* menu navigation */
.flexbox {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
}
.nav--container {
  position: absolute;
}

.card--button {
  /* transition: background-color 0.5s ease;
  transition: text-shadow 0.5s ease; */
  width:20%;
  margin:0 auto;
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px 15px;
  text-align:center;
}
.card--button:hover {
  background-color: rgba(0, 0, 0, 0.4);
  text-shadow: #ddd 1px 0 20px;
}





/* card in the middle */
.card--container {
  /* position: relative;
  top: 50%; */
  width:300px !important;
  height:450px !important;
  margin:0 auto;
  border-radius: 12px;
  border:10px solid rgba(0, 0, 0, 0.7);
}
.view--cover{
  background-color: rgba(0, 0, 0, 0.8);
}
.view--text{
  border:10px solid black;
  background-color: #eae9e8;
}
.card--container__wrapper{
  display: flex;
  flex-direction: column ;
  align-items: center;
  align-content: center;

  width:100%;
  /* border:1px solid blue; */
  padding-top:20px;
  margin:0 auto;
}

.card--container__start{
  display:inline-block;
  align-self:center;
  /* margin: auto; */
  color:white;
  text-align: center;
  font-size:2.2rem;
  line-height:1.2;
}

.card--container__text{
  margin: auto;
  font-size:1.08rem;
  line-height:1.4;
  width: 85%;
}

.korean{
  font-size:0.98rem;
  line-height:1.65;
}

.card__text{
  transition: text-shadow 0.3s ease; */
  text-shadow: none;
  line-height:1.35;
  /* letter-spacing: 1px; */
}
.card__text:hover, button:hover{
  text-shadow: #ddd 1px 0 20px;
}

.show{
  display: inline-block;
}
.hide{
  display:none;
}



/* overlay box popup */
.overlay--container{

}

.overlay--popup {

}


/* button */

button {
  font-family: "beleren";
  font-size: 1em;
  color:white;
  outline: none;
  margin: 1vmax;
  border: none;
  background: none;
  height: 100px;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
}

button:hover {
  color:red;
}


/* SHARE BUTTON */
.share--card {
  font-size: 15px;
  bottom: 10px;
  position: absolute;
  text-align: left;
  /* border: 1px solid black; */
  margin-bottom: 10px;
  border-radius: 22px;
  background-color: white;
  color:grey;
  padding: 5px 14px;
  text-align: center;
}

/* INPUT FIELD */
input {
  width: 230px;
  /* padding: 6px 5px; */
  font-size: 14px;
  border:1px solid white;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

input, textarea, input:hover, input:focus, input:active{
  background:none;
}

.custom-form-select, .custom-form-field {
  /* font-family: "mtgx"; */
  width: 235px;
  height:28px;
  padding: 6px 5px;
  color:white;
  font-size: 14px;
  border:1px solid white;
  background-color:rgba(0,0,0,0);
  margin-bottom:15px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  /* border:none !important; */
  -webkit-text-fill-color: white !important;
  -webkit-box-shadow: 0 0 0px 1000px rgba(0,0,0,0) inset;
  transition: background-color 5000s ease-in-out 0s;
}
/* select box custtomisation */

.share-input{
  display:none;
}
.active {
  display:block;
}

/* FORM */
.card-form {
  text-align: center;
}
