{% load static %}

<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8" />
        <title>
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'draw/css/style.css' %}">

    </head>

    <body class="{% block body_class %}{% endblock %}">
        <main class="container">

          <img class="background" src="{% static "draw/img/bg_02.jpg" %}" id="bg" alt="background"/>

        {% block content %}
        {% endblock %}

    </body>

    {# Global javascript #}
    <script type="text/javascript" src="{% static 'draw/js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/js/jquery.flip.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/js/drawacard.js' %}"></script>

</html>
