{% extends "draw/base.html" %}

{% load static %}

{% block body_class %}card-new{% endblock %}

{% block content %}
<div class="flexbox">

  <!-- <div class="card--button show-english">
    <span class="text--white text--large">Show Image</span>
  </div> -->

  <div class="card--container view--cover">
    <div class="card--container__wrapper">
      <p class="card--container__text text--white">

        <form method="POST" class="card-form">
          {% csrf_token %}

            <span class="help-text text--white">Choose Language</span>
            {{ form.language }}<br>
            <span class="help-text text--white">Optional keyword<br/>
            Keyword either in English or chosen language</span>
            {{ form.keyword }}<br>
            <button type="submit" class="save btn btn-default text--white text--large font--beleren">Show Text</button>
        </form>

        <br>
      </p>
    </div>
  </div>

  <!-- <div class="card--button draw-again">
    <span class="text--white text--large">Draw again</span>
  </div>
   -->
</div>
{% endblock %}
