/* general layout */
main, body, html {
  text-decoration:none;
  margin:0;
  padding:0;
  width:100%;
  height: 100%;
}

body {
  /* margin-top: 12%; */
  font-family: "MPlantin";
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* general stylying */
a, a:visited, a:focus, a:hover {
  text-decoration: none;
  color:white;
}

a:hover {
  /* color:grey; */
  /* text-shadow: #ddd 1px 0 20px; */
}

ul, li {
  list-style: none;
}

.font--mplantin{
  font-family: "MPlantin";
}
.font--beleren{
  font-family: "beleren";
}

@font-face {
  font-family: "MPlantin";
  src: url('draw/static/MPlantin.ttf') format("truetype");
}

@font-face {
  font-family: "beleren";
  src: url('draw/static/beleren.ttf') format("truetype");
}




/* background image */

.background {
  position: fixed;
  top: 0;
  left: 0;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;

  z-index:-9999;
}

.text--black, .text--black:hover, .text--black:focus, .text--black:visited {
  color:black;
}
.text--white, .text--white:hover, .text--white:focus, .text--white:visited {
  color:white;
}

.text--large{
  font-size:30px;
}

/* menu navigation */
.flexbox {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
}
.nav--container {
  position: absolute;
}

.card--button {
  /* transition: background-color 0.5s ease;
  transition: text-shadow 0.5s ease; */
  width:20%;
  margin:0 auto;
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 15px 20px;
  text-align:center;
}
.card--button:hover {
  background-color: rgba(0, 0, 0, 0.4);
  text-shadow: #ddd 1px 0 20px;
}





/* card in the middle */
.card--container {
  /* position: relative;
  top: 50%; */
  width:290px !important;
  height:420px !important;
  margin:0 auto;
  border-radius: 12px;
  border:10px solid rgba(0, 0, 0, 0.7);
}
.view--cover{
  background-color: rgba(0, 0, 0, 0.8);
}
.view--text{
  border:10px solid black;
  background-color: #eae9e8;
}
.card--container__wrapper{
  display: flex;
  flex-direction: column ;
  align-items: center;
  align-content: center;

  width:100%;
  /* border:1px solid blue; */
  padding-top:20px;
  margin:0 auto;
}

.card--container__start{
  display:inline-block;
  align-self:center;
  /* margin: auto; */
  color:white;
  text-align: center;
  font-size:2.2rem;
  line-height:1.2;
}

.card--container__text{
  margin: auto;
  font-size:1.08rem;
  line-height:1.4;
  width: 85%;
}

.korean{
  font-size:0.98rem;
  line-height:1.65;
}

.card__text{
  transition: text-shadow 0.3s ease; */
  text-shadow: none;
}
.card__text:hover{
  text-shadow: #ddd 1px 0 20px;
}






/* overlay box popup */
.overlay--container{

}

.overlay--popup {

}

/*

ul {
  background: darkorange;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

li {
    color: #fff;
  background: darkorange;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
  transition-duration: 0.5s;
}

li a {
  color: #fff;
}

li:hover,
li:focus-within {
    background: red;
    cursor: pointer;
}

li:focus-within a {
  outline: none;
}

ul li ul {
    background: orange;
    visibility: hidden;
  opacity: 0;
  min-width: 5rem;
    position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
    left: 0;
  display: none;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block
}

ul li ul li {
    clear: both;
  width: 100%;
} */
